.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  padding: 0 10px;
  margin: 20px 0;

  background-color: var(--dark);

  border-radius: 6px;

  .rights{
    a{
      color: var(--violet);
    }
  }

  .social_links{

    .logo{
      margin-left: 18px;
    }
  }
}